body {
	background-color: #222;
	color: #cdcdcd;
	text-align: center;
}

#content {
	text-align: left;
	display: inline-block;
	box-shadow: 0em 0em 1em #fff;
	border-radius: 0.4em;
}

h1 {
	text-align: center;
	letter-spacing: 0.1em;
}

#refresh {
	text-align: right;
	font-size: 0.8em;
	margin-bottom: 0.2em;
	margin-right: 0.4em;
}

table {
	border-collapse: collapse;
	margin-bottom: 1em;
}

table a {
	text-decoration: none;
	color: #fff;
}

table td {
	padding-right: 15px;
}

thead {
	background-color: #ffa23c;
	color: black;
	cursor: default;
}

th {
	padding-left: 1em;
	padding-right: 1em;
}

th:hover {
	background-color: #ee912b;
}

th:active {
	background-color: #ffa23c;
}

tbody td{
	padding-left: 1em;
	padding-right: 1em;
}
